
    <div>
        <mat-card class="product-card">

            <mat-card-header>
                <mat-card-title>{{ product.pName }}</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <p>This is the apple juice which is really helpful for your health it contain vitamin and many other minerals </p>
                <h4>Quantity is {{ product.pquantity }}</h4>
                
            </mat-card-content>


            <mat-card-actions>
                <button mat-button >UPDATE</button>
                <button mat-button>DELETE</button>
            </mat-card-actions>

        </mat-card>
    </div>